In [71]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [72]:
#Raw data file
csvfile = "Resources/purchase_data.csv"

In [73]:
#Read purchase data csv file and store into pandas data frame
purchase_df = pd.read_csv(csvfile)

In [74]:
#Count total number of players (assuming one SN per player)
#there should be only one player per SN
#nunique = purchase_df.groupby('SN')['Purchase ID'].nunique()
##SNcounts = purchase_df["SN"].value_counts()
##totalplayers = SNcounts.count()
player_count = len(purchase_df["SN"].unique())
player_count_summary_df = pd.DataFrame({"Total Players": [player_count]})
player_count_summary_df

   Total Players
0            576

In [75]:
#count number of unique items
uniqueitems = len(purchase_df["Item ID"].value_counts())

In [76]:
#average price
avg_price = purchase_df["Price"].mean()
#convert to float
#avg_price = avg_price.map("${:.2f}".format)

In [77]:
#number of purchases
purchase_number = purchase_df["Purchase ID"].count()

In [78]:
#no need to change to float
#total revenue
total_rev = purchase_df["Price"].sum()

In [79]:
#Summary Data Frame
uniqueitems_summary_df = pd.DataFrame({"Number of Unique Items": [uniqueitems],
                          "Average Price (in dollars)": "$" + str(avg_price),
                          "Number of Purchases": [purchase_number],
                          "Total Revenue (in dollars)": "$" + str(total_rev)})
uniqueitems_summary_df

,Number of Unique Items,Average Price (in dollars),Number of Purchases,Total Revenue (in dollars)
0,183,$3.050987179487176,780,$2379.77

In [80]:
#check values of gender
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [81]:
#set index
id_index = purchase_df.set_index("Gender")
#print for verification
#id_index.head()

In [82]:
#find the count and percentage of males using loc
male_count = len(id_index.loc["Male", "SN"].unique())
#male_count
male_percent = round((male_count/player_count*100),2)
#malepercent

#this route is needed to produce the output in the starter file
malepurchasecount = id_index.loc["Male", "Purchase ID"].count()
#malepurchasecout
malepurchasepercent = (malepurchasecount/player_count*100)
#malepurchasepercent

In [83]:
#find the count and percentage of females using loc
female_count = len(id_index.loc["Female", "SN"].unique())
#female_count
female_percent = round((female_count/player_count*100),2)
#femalepercent

#this route is needed to produce the output in the starter file
femalepurchasecount = id_index.loc["Female", "Purchase ID"].count()
#femalepurchasecout
femalepurchasepercent = (femalepurchasecount/player_count*100)
#femalepurchasepercent

In [84]:
#find the count and percentage of other/non-disclosed using loc
other_count = len(id_index.loc["Other / Non-Disclosed", "SN"].unique())
#other_count
other_percent = round((other_count/player_count*100),2)
#otherpercent

#this route is needed to produce the output in the starter file
otherpurchasecount = id_index.loc["Other / Non-Disclosed", "Purchase ID"].count()
#otherpurchasecout
otherpurchasepercent = (otherpurchasecount/player_count*100)
#otherpurchasepercent

In [85]:
#note on gender demographics: this result is based off of the count of players, 
#not the count of purchases (this is different from the output of the starter file)
gendersummary_df = pd.DataFrame({"Percentage of Players":[male_percent,female_percent,other_percent],
                                "Total Count":[male_count,female_count,other_count]})

#this is the output based on the starter file
genderpurchasesummary_df = pd.DataFrame({"Percentage of Players":[malepurchasepercent,femalepurchasepercent,otherpurchasepercent],
                                "Total Count":[malepurchasecount,femalepurchasecount,otherpurchasecount]})
#genderpurchasesummary_df
gendersummary_df

   Percentage of Players  Total Count
0                  84.03          484
1                  14.06           81
2                   1.91           11