In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
#Raw data file
csvfile = "Resources/purchase_data.csv"

In [3]:
#Read purchase data csv file and store into pandas data frame
read_purchase = pd.read_csv(csvfile)
purchase_df=pd.DataFrame(read_purchase)

In [4]:
#Player Count

#Count total number of players (assuming one SN per player)
#there should be only one player per SN
#nunique = purchase_df.groupby('SN')['Purchase ID'].nunique()
##SNcounts = purchase_df["SN"].value_counts()
##totalplayers = SNcounts.count()
player_count = len(purchase_df["SN"].unique())
player_count_summary_df = pd.DataFrame({"Total Players": [player_count]})
player_count_summary_df

   Total Players
0            576

In [5]:
#Purchase Analysis (Total)

#count number of unique items
uniqueitems = len(purchase_df["Item ID"].value_counts())

In [6]:
#average price
avg_price = round(purchase_df["Price"].mean(),2)
#convert to float
#avg_price = avg_price.map("${:.2f}".format)

In [7]:
#number of purchases
purchase_number = purchase_df["Purchase ID"].count()

In [8]:
#no need to change to float
#total revenue
total_rev = purchase_df["Price"].sum()

In [9]:
#Summary Data Frame
uniqueitems_summary_df = pd.DataFrame({"Number of Unique Items": [uniqueitems],
                          "Average Price (in dollars)": "$" + str(avg_price),
                          "Number of Purchases": [purchase_number],
                          "Total Revenue (in dollars)": "$" + str(total_rev)})
uniqueitems_summary_df

,Number of Unique Items,Average Price (in dollars),Number of Purchases,Total Revenue (in dollars)
0,183,$3.05,780,$2379.77

In [10]:
#Gender Demographics

#check values of gender
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
#set index
id_index = purchase_df.set_index("Gender")
#print for verification
id_index.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44

In [12]:
#find the count and percentage of males using loc
male_count = len(id_index.loc["Male", "SN"].unique())
#male_count
male_percent = round((male_count/player_count*100),2)
#malepercent

#this route is needed to produce the output in the starter file
malepurchasecount = id_index.loc["Male", "Purchase ID"].count()
#malepurchasecount
malepurchasepercent = (malepurchasecount/player_count*100)
#malepurchasepercent

In [13]:
#find the count and percentage of females using loc
female_count = len(id_index.loc["Female", "SN"].unique())
#female_count
female_percent = round((female_count/player_count*100),2)
#femalepercent

#this route is needed to produce the output in the starter file
femalepurchasecount = id_index.loc["Female", "Purchase ID"].count()
#femalepurchasecount
femalepurchasepercent = (femalepurchasecount/player_count*100)
#femalepurchasepercent

In [14]:
#find the count and percentage of other/non-disclosed using loc
other_count = len(id_index.loc["Other / Non-Disclosed", "SN"].unique())
#other_count
other_percent = round((other_count/player_count*100),2)
#otherpercent

#this route is needed to produce the output in the starter file
otherpurchasecount = id_index.loc["Other / Non-Disclosed", "Purchase ID"].count()
#otherpurchasecout
otherpurchasepercent = (otherpurchasecount/player_count*100)
#otherpurchasepercent

In [15]:
#note on gender demographics: this result is based off of the count of players, 
#not the count of purchases (this is different from the output of the starter file)
gendersummary_df = pd.DataFrame({"Gender": ["Male","Female","Other / Non-Disclosed"],
                                 "Percentage of Players":[male_percent,female_percent,other_percent],
                                 "Total Count":[male_count,female_count,other_count]})

#this is the output based on the starter file
genderpurchasesummary_df = pd.DataFrame({"Percentage of Players":[malepurchasepercent,femalepurchasepercent,otherpurchasepercent],
         
                                         "Total Count":[malepurchasecount,femalepurchasecount,otherpurchasecount]})
#gendersummary_df


gendersummaryindex_df = gendersummary_df.set_index("Gender")
gendersummaryindex_df

                       Percentage of Players  Total Count
Gender
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

In [16]:
#Purchasing Analysis (Gender)


#this is a repeat of some of the above commands, but this would be the proper place to insert those commands
malepurchasecount = id_index.loc["Male", "Purchase ID"].count()
#malepurchasecount

femalepurchasecount = id_index.loc["Female", "Purchase ID"].count()
#femalepurchasecount

otherpurchasecount = id_index.loc["Other / Non-Disclosed", "Purchase ID"].count()
#otherpurchasecount

In [17]:
#averages
maleavgpurchaseprice = round(id_index.loc["Male", "Price"].mean(),2)
#maleavgpurchaseprice

femaleavgpurchaseprice = round(id_index.loc["Female", "Price"].mean(),2)
#femaleavgpurchaseprice

otheravgpurchaseprice = round(id_index.loc["Other / Non-Disclosed", "Price"].mean(),2)
#otheravgpurchaseprice

In [18]:
#sums
maletotalpurchasevalue = id_index.loc["Male", "Price"].sum()
#maletotalpurchasevalue

femaletotalpurchasevalue = id_index.loc["Female", "Price"].sum()
#femaletotalpurchasevalue

othertotalpurchasevalue = id_index.loc["Other / Non-Disclosed", "Price"].sum()
#othertotalpurchasevalue

In [19]:
#average total purchase per person
maleavgtotalpurchase = (maletotalpurchasevalue/male_count).round(2)
#maleavgtotalpurchase

femaleavgtotalpurchase = (femaletotalpurchasevalue/female_count).round(2)
#femaleavgtotalpurchase

otheravgtotalpurchase = (othertotalpurchasevalue/other_count).round(2)
#otheravgtotalpurchase

In [20]:
genderpurchasesummary_df = pd.DataFrame({"Gender": ["Male","Female","Other / Non-Disclosed"],
                                              "Purchase Count":[malepurchasecount,femalepurchasecount,otherpurchasecount],
                                              "Average Purchase Price": ["$" + str(maleavgpurchaseprice), "$" + str(femaleavgpurchaseprice), "$" + str(otheravgpurchaseprice)],
                                              "Total Purchase Value": [maletotalpurchasevalue, femaletotalpurchasevalue, othertotalpurchasevalue],
                                              "Average Total Purchase per Person": ["$" + str(maleavgtotalpurchase), "$" + str(femaleavgtotalpurchase), "$" + str(otheravgtotalpurchase)]
                                              })

genderpurchasesummaryindex_df = genderpurchasesummary_df.set_index("Gender")
genderpurchasesummaryindex_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Male,652,$3.02,1967.64,$4.07
Female,113,$3.2,361.94,$4.47
Other / Non-Disclosed,15,$3.35,50.19,$4.56

In [21]:
#Age Demographics

#establish bins for ages
age_bins = [0, 9.909, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [22]:
#create new column for age group
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=group_names)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
#index age group
agegroup_index = purchase_df.set_index("Age Group")
agegroup_index.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Group,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44

In [24]:
#find the count and percentage of players "<10" using loc
age1_count = len(agegroup_index.loc["<10", "SN"].unique())
#age1_count
age1_percent = round((age1_count/player_count*100),2)
#age1_percent

In [25]:
#find the count and percentage of players "<10" using loc
age2_count = len(agegroup_index.loc["10-14", "SN"].unique())
#age2_count
age2_percent = round((age2_count/player_count*100),2)
#age2_percent

In [26]:
#find the count and percentage of players "<10" using loc
age3_count = len(agegroup_index.loc["15-19", "SN"].unique())
#age3_count
age3_percent = round((age3_count/player_count*100),2)
#age3_percent

In [27]:
#find the count and percentage of players "<10" using loc
age4_count = len(agegroup_index.loc["20-24", "SN"].unique())
#age4_count
age4_percent = round((age4_count/player_count*100),2)
#age4_percent

In [28]:
#find the count and percentage of players "<10" using loc
age5_count = len(agegroup_index.loc["25-29", "SN"].unique())
#age5_count
age5_percent = round((age5_count/player_count*100),2)
#age5_percent

In [29]:
#find the count and percentage of players "<10" using loc
age6_count = len(agegroup_index.loc["30-34", "SN"].unique())
#age6_count
age6_percent = round((age6_count/player_count*100),2)
#age6_percent

In [30]:
#find the count and percentage of players "<10" using loc
age7_count = len(agegroup_index.loc["35-39", "SN"].unique())
#age7_count
age7_percent = round((age7_count/player_count*100),2)
#age7_percent

In [31]:
#find the count and percentage of players "<10" using loc
age8_count = len(agegroup_index.loc["40+", "SN"].unique())
#age8_count
age8_percent = round((age8_count/player_count*100),2)
#age8_percent

In [32]:
#dataframe
agedemographics_df = pd.DataFrame({"Age Group": group_names,
                                   "Total Count":[age1_count,age2_count,age3_count,age4_count,age5_count,age6_count,age7_count,age8_count],
                                   "Percentage of Players": [age1_percent,age2_percent,age3_percent,age4_percent,age5_percent,age6_percent,age7_percent,age8_percent]
                                  })

#summary dataframe
agedemographicsummaryindex_df = agedemographics_df.set_index("Age Group")
agedemographicsummaryindex_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

In [33]:
#Purchase Analysis (Age)

#bin purchase_df by age
#this above step ^ has been done in determining age demographics
#purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=group_names)
#instead, set index

In [34]:
#find the purchase count and avg purchase price of players "<10" using loc
age1purchasecount = agegroup_index.loc["<10", "Purchase ID"].count()
#age1purchasecount
age1purchaseprice = round(agegroup_index.loc["<10", "Price"].mean(),2)
#age1purchaseprice

In [35]:
#find the purchase count and avg purchase price of players "10-14" using loc
age2purchasecount = agegroup_index.loc["10-14", "Purchase ID"].count()
#age2purchasecount
age2purchaseprice = round(agegroup_index.loc["10-14", "Price"].mean(),2)
#age2purchaseprice

In [36]:
#find the purchase count and avg purchase price of players "15-19" using loc
age3purchasecount = agegroup_index.loc["15-19", "Purchase ID"].count()
#age3purchasecount
age3purchaseprice = round(agegroup_index.loc["15-19", "Price"].mean(),2)
#age3purchaseprice

In [37]:
#find the purchase count and avg purchase price of players "20-24" using loc
age4purchasecount = agegroup_index.loc["20-24", "Purchase ID"].count()
#age4purchasecount
age4purchaseprice = round(agegroup_index.loc["20-24", "Price"].mean(),2)
#age4purchaseprice

In [38]:
#find the purchase count and avg purchase price of players "25-29" using loc
age5purchasecount = agegroup_index.loc["25-29", "Purchase ID"].count()
#age5purchasecount
age5purchaseprice = round(agegroup_index.loc["25-29", "Price"].mean(),2)
#age5purchaseprice

In [39]:
#find the purchase count and avg purchase price of players "30-34" using loc
age6purchasecount = agegroup_index.loc["30-34", "Purchase ID"].count()
#age6purchasecount
age6purchaseprice = round(agegroup_index.loc["30-34", "Price"].mean(),2)
#age6purchaseprice

In [40]:
#find the purchase count and avg purchase price of players "35-39" using loc
age7purchasecount = agegroup_index.loc["35-39", "Purchase ID"].count()
#age7purchasecount
age7purchaseprice = round(agegroup_index.loc["35-39", "Price"].mean(),2)
#age7purchaseprice

In [41]:
#find the purchase count and avg purchase price of players "40+" using loc
age8purchasecount = agegroup_index.loc["40+", "Purchase ID"].count()
#age8purchasecount
age8purchaseprice = round(agegroup_index.loc["40+", "Price"].mean(),2)
#age8purchaseprice

In [42]:
#total purchase values
age1totalpurchase = agegroup_index.loc["<10", "Price"].sum()
age2totalpurchase = agegroup_index.loc["10-14", "Price"].sum()
age3totalpurchase = agegroup_index.loc["15-19", "Price"].sum()
age4totalpurchase = agegroup_index.loc["20-24", "Price"].sum()
age5totalpurchase = agegroup_index.loc["25-29", "Price"].sum()
age6totalpurchase = agegroup_index.loc["30-34", "Price"].sum()
age7totalpurchase = agegroup_index.loc["35-39", "Price"].sum()
age8totalpurchase = agegroup_index.loc["40+", "Price"].sum()

In [43]:
#average total purchase per person
age1avgtotalpurchase = (age1totalpurchase/age1_count).round(2)
#age1avgtotalpurchase

age2avgtotalpurchase = (age2totalpurchase/age2_count).round(2)
#age2avgtotalpurchase

age3avgtotalpurchase = (age3totalpurchase/age3_count).round(2)
#age3avgtotalpurchase

age4avgtotalpurchase = (age4totalpurchase/age4_count).round(2)
#age4avgtotalpurchase

age5avgtotalpurchase = (age5totalpurchase/age5_count).round(2)
#age5avgtotalpurchase

age6avgtotalpurchase = (age6totalpurchase/age6_count).round(2)
#age6avgtotalpurchase

age7avgtotalpurchase = (age7totalpurchase/age7_count).round(2)
#age7avgtotalpurchase

age8avgtotalpurchase = (age8totalpurchase/age8_count).round(2)
#age8avgtotalpurchase

In [44]:
#dataframe
agepurchasesummary_df = pd.DataFrame({"Age Group": group_names,
                                      "Purchase Count":[age1purchasecount,age2purchasecount,age3purchasecount,age4purchasecount,age5purchasecount,age6purchasecount,age7purchasecount,age8purchasecount],
                                      "Average Purchase Price": ["$" + str(age1purchaseprice),"$" + str(age2purchaseprice),"$" + str(age3purchaseprice),"$" + str(age4purchaseprice),"$" + str(age5purchaseprice),"$" + str(age6purchaseprice),"$" + str(age7purchaseprice),"$" + str(age8purchaseprice)],
                                      "Total Purchase Value": ["$" + str(age1totalpurchase),"$" + str(age2totalpurchase),"$" + str(age3totalpurchase),"$" + str(age4totalpurchase),"$" + str(age5totalpurchase),"$" + str(age6totalpurchase),"$" + str(age7totalpurchase),"$" + str(age8totalpurchase)],
                                      "Avg Total Purchase per Person": ["$" + str(age1avgtotalpurchase),"$" + str(age2purchaseprice),"$" + str(age3purchaseprice),"$" + str(age4purchaseprice),"$" + str(age5purchaseprice),"$" + str(age6purchaseprice),"$" + str(age7purchaseprice),"$" + str(age8purchaseprice)]})

#summary dataframe
agepurchasesummaryindex_df = agepurchasesummary_df.set_index("Age Group")
agepurchasesummaryindex_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.9,$292.99999999999994,$2.9
30-34,73,$2.93,$214.00000000000003,$2.93
35-39,41,$3.6,$147.67,$3.6
40+,13,$2.94,$38.24,$2.94

In [45]:
#Top Spenders

#set new dataframe
sn_df = purchase_df.sort_values('SN')
#print for verification
sn_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,15-19
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
630,630,Aelaria33,23,Male,171,Scalpel,1.79,20-24
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
218,218,Aelastirin39,23,Male,76,Haunted Bronzed Bludgeon,3.15,20-24
705,705,Aelidru27,22,Male,183,Dragon's Greatsword,1.09,20-24
52,52,Aelin32,20,Male,60,Wolf,3.54,20-24
87,87,Aelin32,20,Male,151,Severance,3.40,20-24
584,584,Aelin32,20,Male,115,Spectral Diamond Doomblade,2.04,20-24
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18,20-24
428,428,Aelly27,24,Male,14,Possessed Core,2.61,20-24
286,286,Aellynun67,25,Male,153,Mercenary Sabre,3.74,25-29
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,20-24
203,203,Aelollo59,33,Male,3,Phantomlight,2.49,30-34
431,431,Aelollo59,33,Male,172,Blade of the Grave,3.14,30-34
183,183,Aenarap34,21,Male,15,Soul Infused Crystal,2.96,20-24
263,263,Aeral43,24,Male,78,"Glimmer, Ender of the Moon",4.40,20-24
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,40+
167,167,Aeral97,23,Male,157,"Spada, Etcher of Hatred",4.80,20-24
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
583,583,Aeralstical35,20,Male,49,"The Oculus, Token of Lost Worlds",2.96,20-24
303,303,Aeri84,24,Male,71,Demise,1.61,20-24
381,381,Aerillorin70,16,Male,83,Lifebender,3.33,15-19
274,274,Aerithllora36,29,Female,82,Nirvana,4.90,25-29
578,578,Aerithllora36,29,Female,153,Mercenary Sabre,3.74,25-29
324,324,Aerithnucal56,15,Male,154,Feral Katana,4.40,15-19
517,517,Aerithnuphos61,39,Male,128,"Blazeguard, Reach of Eternity",4.91,35-39
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56,20-24
...,...,...,...,...,...,...,...,...
421,421,Yadaphos40,30,Male,26,Unholy Wand,1.12,30-34
62,62,Yadaphos40,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
447,447,Yalae81,22,Male,120,Agatha,3.08,20-24
681,681,Yalaeria91,33,Male,28,"Flux, Destroyer of Due Diligence",1.06,30-34
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
383,383,Yalo85,34,Male,11,Brimstone,3.65,30-34
518,518,Yalostiphos68,29,Male,160,Azurewrath,4.40,25-29
280,280,Yana46,20,Female,16,Restored Bauble,3.55,20-24
364,364,Yarithllodeu72,22,Male,88,"Emberling, Defender of Delusions",3.75,20-24
279,279,Yarithrgue83,20,Male,163,Thunderfury Scimitar,3.45,20-24
698,698,Yarithrin84,30,Female,58,"Freak's Bite, Favor of Holy Might",4.14,30-34
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",4.94,25-29
696,696,Yarolwen77,30,Male,87,"Deluge, Edge of the West",4.43,30-34
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
340,340,Yastyriaphos75,22,Male,41,Orbit,4.75,20-24
257,257,Yasur35,26,Male,175,Woeful Adamantite Claymore,4.48,25-29
514,514,Yasur85,21,Male,21,Souleater,1.10,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
125,125,Yathecal82,20,Female,62,Piece Maker,1.87,20-24
727,727,Yathecal82,20,Female,104,Gladiator's Glaive,1.93,20-24
548,548,Yathecal82,20,Female,75,Brutality Ivory Warmace,2.42,20-24
595,595,Yathedeu43,22,Male,55,Vindictive Glass Edge,2.27,20-24
93,93,Yathedeu43,22,Male,88,"Emberling, Defender of Delusions",3.75,20-24
572,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,4.58,15-19
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,10-14
560,560,Zontibe81,21,Male,2,Verdict,2.48,20-24
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24

In [46]:
#find the purchase count per SN
SNpurchasecount = sn_df["SN"].value_counts()
SNpurchasecount.head()

Lisosia93       5
Iral74          4
Idastidru52     4
Saedaiphos46    3
Zontibe81       3
Name: SN, dtype: int64

In [47]:
#find the avg purchase price per SN
SNavgpurchaseprice = round(sn_df.groupby('SN')['Price'].mean(),2)
SNavgpurchaseprice.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [48]:
#find the total purchase price per SN
SNtotalpurchasevalue = sn_df.groupby('SN')['Price'].sum()
SNtotalpurchasevalue.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [49]:
#dataframe
snpurchasesummary_df = pd.DataFrame({"Purchase Count": SNpurchasecount,
                                     "Average Purchase Price": SNavgpurchaseprice,
                                     "Total Purchase Value": SNtotalpurchasevalue})

snpurchasesummary_df.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [60]:
#Most Popular Items

#set new dataframe
items_df = purchase_df[["Item ID","Item Name","Price"]]
items_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [62]:
#this is to make the item name consistent in the summary dataframe
itemname = items_df.groupby('Item ID')['Item Name']
itemname = itemname.max()
itemname.head()

Item ID
0              Splinter
1              Crucifer
2               Verdict
3          Phantomlight
4    Bloodlord's Fetish
Name: Item Name, dtype: object

In [63]:
#find the purchase count per item
itempurchasecount = items_df["Item ID"].value_counts()
itempurchasecount

178    12
82      9
108     9
145     9
92      8
19      8
75      8
103     8
72      8
60      8
59      8
34      8
37      8
159     7
7       7
85      7
141     7
78      7
164     7
53      7
117     7
71      7
110     7
136     6
40      6
54      6
120     6
12      6
144     6
3       6
       ..
176     2
177     2
18      2
158     2
69      2
43      2
31      2
132     2
63      2
26      2
28      2
56      2
30      2
127     2
33      2
115     2
125     2
48      2
126     1
23      1
180     1
47      1
90      1
134     1
91      1
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [64]:
#find the total purchase price per item
itemprice = items_df.groupby('Item ID')['Price'].mean()
itemprice

Item ID
0      1.28
1      3.26
2      2.48
3      2.49
4      1.70
5      4.08
6      3.70
7      1.33
8      3.93
9      2.73
10     1.79
11     3.65
12     1.02
13     1.41
14     2.61
15     2.96
16     3.55
17     1.70
18     4.65
19     1.02
20     3.27
21     1.10
22     2.18
23     1.99
24     3.81
25     4.35
26     1.12
27     3.30
28     1.06
29     1.98
       ...
154    4.40
155    1.01
156    1.77
157    4.80
158    2.45
159    3.08
160    4.40
161    1.76
162    2.67
163    3.45
164    1.63
165    4.86
166    3.07
167    3.61
168    1.48
169    2.18
170    3.97
171    1.79
172    3.14
173    4.93
174    3.47
175    4.48
176    2.84
177    2.08
178    4.23
179    4.48
180    3.36
181    1.66
182    4.03
183    1.09
Name: Price, Length: 183, dtype: float64

In [65]:
#find the total purchase price per item
itemtotalpurchasevalue = items_df.groupby('Item ID')['Price'].sum()
itemtotalpurchasevalue

Item ID
0       5.12
1       9.78
2      14.88
3      14.94
4       8.50
5      16.32
6       7.40
7       9.31
8      11.79
9      10.92
10      7.16
11     18.25
12      6.12
13      5.64
14      5.22
15     14.80
16     14.20
17      6.80
18      9.30
19      8.16
20     16.35
21      5.50
22     13.08
23      1.99
24     19.05
25     26.10
26      2.24
27      3.30
28      2.12
29      9.90
       ...
154    17.60
155     5.05
156     8.85
157    19.20
158     4.90
159    21.56
160    26.40
161     8.80
162    13.35
163    17.25
164    11.41
165    19.44
166     9.21
167    14.44
168     2.96
169     8.72
170    15.88
171     5.37
172    12.56
173     9.86
174    13.88
175    13.44
176     5.68
177     4.16
178    50.76
179    26.88
180     3.36
181     8.30
182    12.09
183     3.27
Name: Price, Length: 183, dtype: float64

In [66]:
#dataframe
itempurchasesummary_df = pd.DataFrame({"Item Name": itemname,
                                       "Purchase Count": itempurchasecount,
                                       "Item Price": itemprice,
                                       "Total Purchase Value": itemtotalpurchasevalue})

itempurchasesummary_df.sort_values("Purchase Count", ascending=False).head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [67]:
itempurchasesummary_df.sort_values("Total Purchase Value", ascending=False).head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80